.title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-top: 20px;
}

.about {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px
}

.main-page {
  display: flex;
}

.results-summary {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0px;
}

.sidebar {
  margin-top: 20px; /* Adjust as needed */
  width: 250px; /* Adjust as needed */
  height: 100%; /* Occupy full height */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar {
  display: flex;
  justify-content: center;
  /* margin: 20px 0; Adjust as needed */

}

.search-bar input {
  width: 800px; /* Adjust as needed */
  height: 40px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.recipe-list {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recipe-card {
  width: 300px; /* Adjust as needed */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.recipe-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.recipe-card h3 {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}